<h4>Welcome to {{ classroom_name }}</h4>
<img src="https://www.missionbit.com/images/logo-fb.png" height="55" width="105">

<p>Hello class,</p>
<p>Your {{ classroom_name }} "classroom" has been successfully created.</p>
<p>This means that when you log in to Mission Bit's web portal, you will now be able to interact with your instructor, classmates, and curriculum.</p>
<p>Welcome to Mission Bit's {{ classroom_name }}, be excited to learn!</p>
<br>
<p>Sincerely, <br>The Mission Bit Team</p>
<br>
<br>
