<h4>Welcome to Mission Bit {{ first_name }}</h4>
<img src="https://www.missionbit.com/images/logo-fb.png" height="55" width="105">

<p>Hello {{ first_name }},</p>
<p>Your {{ account_type }} account has been successfully created.</p>
<p>Login with the credentials below, or use Gmail to log in with {{ email }} (if applicable).</p>
<p>If you login with the credentials (username and password) below, you will be prompted to change you password and use your credentials, or you may <br>
    switch to using a Gmail account for login at any time.</p>
<p>If you login with your Gmail account, you will be required to use your Gmail account to login in the future (this is recommended).</p>
<p>Welcome to Mission Bit and we're excited to have you on our team.</p>
<br>
<br>
<br>
<p>Username: {{ username }}</p>
<p>Temporary password: {{ password }}</p>
