{% extends "home/home.html" %}
{% load crispy_forms_tags %}

{% block content %}

  <div class="sidenav">

    </div>

    <h3>Change your Password</h3>
    <h5>Please refer to the email you received to find your temporary password</h5>

  <div class="main-container">
    {% if messages %}
    {% for message in messages %}
        <div class = "alert alert-{{message.tags}}">
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}

    <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <br>
    <button type="submit" class="btn btn-primary">Change Password</button>
      </form>

  </form>
  </div>

{% endblock content %}
