{% extends "home_base.html" %}
{% load static %}

{% block content %}

<div class="form-container">
  <div class="mui-panel">
    {% include "error.html" %}
    <form class="mui-form" method="post">
      <legend>Please change your password</legend>
      {% csrf_token %}
      <div class="mui-textfield">
        Old Password: {{ form.old_password }}
      </div>
      <div class="mui-textfield">
        New Password: {{ form.new_password1 }}
      </div>
      <div class="mui-textfield">
        Retype Password: {{ form.new_password2 }}
      </div>
      <button class="mui-btn mui-btn--primary" type="submit">Submit</button>
      <br>
      <br>
    </form>
  </div>
</div>

{% endblock content %}
