{%  extends "home/home.html" %}
{% load crispy_forms_tags %}

{% block content %}

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 75%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: cadetblue;
}

h2 {
    color: steelblue;
    padding-left: 10px;
}
strong {
    font-size: 24px;
    padding-left: 10px;
    padding-bottom: 1px;
}
p {
    font-size: 16px;
    padding-left: 20px;
    padding-top: 2px;
}
.button {
   font-size: 10px;
   font-family: "American Typewriter";
   border-radius: 14px;
   background-color: white;
   color: #4CAF50;
   border: 2px solid #4CAF50;
}
</style>

<script>
function addVolunteersForm() {
  document.getElementById('add_vols_div').style.display = "block";
  document.getElementById('undo_addvols_button').style.display = "block";
  document.getElementById('add_vols_button').style.display = "none";
}
function revertAddVols() {
  document.getElementById('add_vols_div').style.display = "none";
  document.getElementById('undo_addvols_button').style.display = "none";
  document.getElementById('add_vols_button').style.display = "block";
}
function addStudentsForm() {
  document.getElementById('add_stus_div').style.display = "block";
  document.getElementById('undo_addstus_button').style.display = "block";
  document.getElementById('add_stus_button').style.display = "none";
}
function revertASF() {
  document.getElementById('add_stus_div').style.display = "none";
  document.getElementById('undo_addstus_button').style.display = "none";
  document.getElementById('add_stus_button').style.display = "block";
}
</script>

    <div class="sidenav">
      <a href={% url 'staff' %}>Staff Home</a>
    </div>

<div class="main-container">

<h2>{{ object.course }} - {{ object.teacher }}</h2><hr>
<h4 style="padding-left: 20px">Current Attendance: {{ object.attendance_summary.attendance_statistic }}%</h4>
<form action="{% url 'attendance' %}" method="GET">
    <input type="hidden" name="course_id" value="{{ object.id }}" />
    <p style="padding-left: 20px"><button class="button" type="submit">View Class Attendance</button></p>
</form><hr>
<h4 style="padding-left: 20px;">Curriculum</h4>
<form action="{% url 'curriculum' %}" method="get">
    <input type="hidden" name="classroom_id" value="{{ object.id }}" />
    <p style="padding-left: 20px"><button class="button" type="submit">View Curriculum</button></p>
  </form><hr>
{% if object.forum_title  %}
  <h4 style="padding-left: 20px">Current Forum: {{ object.forum_title }}</h4>
{% else %}
  <h4 style="padding-left: 20px">No Forum</h4>
{% endif %}
<form action="{% url 'add_forum' %}" method="GET">
  <input type="hidden" name="classroom" value="{{ object.id }}" />
  <p style="padding-left: 20px"><button class="button" type="submit">Add/Change Class Forum</button></p><hr>
</form><hr>

  <table>
    <h3>{{ form_name }}</h3>
      <tr>
        <th>Status</th>
        <th>Class Member</th>
        <th>Alter</th>
        <th>Submit</th>
      </tr>
      <tr>
        <form method="post">
          {% csrf_token %}
          <td> Teacher </td>
          <td> {{ object.teacher.first_name }}  {{ object.teacher.last_name }} </td>
          <td>{{ change_teacher_form|crispy }}</td>
          <td><button class="button" type="submit">Change</button></td>
          <input type="hidden" name="change_who" value="teacher"/>
          <input type="hidden" name="course_id" value={{ object.id }} />
          <input type="hidden" name="former_teacher" value={{ object.teacher_id }} />
        </form>
      </tr>
      <tr>
        <form method="post">
          {% csrf_token %}
          <td> Teacher Assistant </td>
          <td> {{ object.teacher_assistant.first_name }} {{ object.teacher_assistant.last_name }} </td>
          <td>{{ change_teacher_form|crispy }}</td>
          <td><button class="button" type="submit">Change</button></td>
        </form>
      </tr>
      {% for volunteer in object.volunteers.all %}
      <tr>
        <form method="post">
          {% csrf_token %}
        <td> Volunteer </td>
        <td> {{ volunteer.first_name }} {{ volunteer.last_name }} </td>
        <td> Can't swap volunteers </td>
        <td> <button class="button" type="submit">Remove</button> </td>
        <input type="hidden" name="change_who" value="remove_vol"/>
        <input type="hidden" name="former_vol" value={{ volunteer.id }} />
        <input type="hidden" name="course_id" value={{ object.id }} />
        </form>
      </tr>
      {% endfor %}
      {% for student in object.students.all %}
      <tr>
        <form method="post">
          {% csrf_token %}
        <td> Student </td>
        <td> {{ student.first_name }} {{ student.last_name }} </td>
        <td> Can't swap students </td>
        <td> <button class="button" type="submit">Remove</button> </td>
        <input type="hidden" name="change_who" value="delete_student" />
        <input type="hidden" name="course_id" value={{ object.id }} />
        <input type="hidden" name="former_student" value={{ student.id }} />
        </form>
      </tr>
      {% endfor %}
  </table>

    <form method="post">
        <div id="add_vols_div"  style="display:none; width: 200px; padding-left: 25px" class="inline-group">
          {% csrf_token %} {{ add_volunteer_form | crispy }}
        <p><button class="button" type="submit">Submit</button>&emsp;</p>
        </div>
        <input type="hidden" name="change_who" value="add_vols"/>
        <input type="hidden" name="course_id" value={{ object.id }} />
    </form>
    <p style="padding-left: 46px"><button id="undo_addvols_button" class="button" style="display:none; color: firebrick" onclick="revertAddVols()">Cancel</button></p>
    <p style="padding-left: 20px;"><button id="add_vols_button" class="button" onclick="addVolunteersForm()">Add Volunteers</button></p>
  <form method="post">
        <div id="add_stus_div"  style="display:none; width: 200px; padding-left: 25px" class="inline-group">
          {% csrf_token %} {{ add_student_form | crispy }}
        <p><button class="button" type="submit">Submit</button>&emsp;</p>
        </div>
        <input type="hidden" name="change_who" value="add_students"/>
        <input type="hidden" name="course_id" value={{ object.id }} />
    </form>
    <p style="padding-left: 46px"><button id="undo_addstus_button" class="button" style="display:none; color: firebrick" onclick="revertASF()">Cancel</button></p>
    <p style="padding-left: 20px;"><button id="add_stus_button" class="button" onclick="addStudentsForm()">Add Students</button></p><br>
  <hr>
  <br>
  </div>


{% endblock content %}
