{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
    <img src="https://www.missionbit.com/images/logo-fb.png" height="55" width="105">

    <h3>Use This Page to Test Mission Bit Django-Salesforce Functionality</h3>

    {% if contacts %}
        <p> Contacts </p>
        <ul>
        {% for contact in contacts %}
            <li>{{ contact.first_name }} {{ contact.last_name }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No Salesforce Contacts</p>
    {% endif %}

    {% if users %}
        <p> Users </p>
        <ul>
        {% for user in users %}
            <li> {{ user.username }} </li>
        {% endfor %}
        </ul>
    {% else %}
         <p>No Salesforce Users</p>
    {% endif %}

    {% if individuals %}
        <p> Individuals </p>
        <ul>
        {% for ind in individuals %}
            <li> {{ ind.first_name }} </li>
        {% endfor %}
        </ul>
    {% else %}
         <p>No Salesforce Individuals</p>
    {% endif %}

    {% if classes %}
        <p> Class Offerings </p>
        <ul>
        {% for class in classes %}
            <li> {{ class.name }} {{ class.course }} </li>
        {% endfor %}
        </ul>
    {% else %}
         <p>No Salesforce Class Offerings</p>
    {% endif %}

    {% if enrollments %}
        <p> Class Enrollments </p>
        <ul>
        {% for enrollment in enrollments %}
            <li> {{ enrollment.name }} {{ enrollment.contact.name }} </li>
        {% endfor %}
        </ul>
    {% else %}
         <p>No Salesforce Class Enrollments</p>
    {% endif %}

</body>
</html>
