{% extends "home/home.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% if messages %}
{% for message in messages %}
	<div class = "alert alert-{{message.tags}}">
		{{ message }}
	</div>
{% endfor %}
{% endif %}

<h4>Please Log In Or Register</h4>
<div class='content-section'>	
	  <a href="{% url 'login' %}">Log In</a><br>	
	  <br>
	  <p><strong>-- OR --</strong></p>
	  <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
	  <br>
	  <p><strong>-- OR --</strong></p>
	  <a href="{% url 'home-register' %}">Register</a><br>
</div>
{% endblock content %}
