{% extends "home/home.html" %}

{% block content %}

    <div id="content-wrapper" class="mui--text-center">
      <h1>You have been logged out</h1>
      <div class="mui--appbar-height"></div>
      <br>
      <form action="{% url 'social:begin' 'google-oauth2' %}">
        <button type="submit" class="loginBtn loginBtn--google mui-btn mui-btn--raised">LOGIN WITH GOOGLE</button>
      </form>
      <form action="{% url 'login' %}">
        <button class="mui-btn mui-btn--raised">Login with Username</button>
      </form>
      <br>
      <br>
    </div>


{% endblock content %}
