{% extends "home_base.html" %}
{% load static %}

{% block content %}

  <div class="form-container">
    <div class="mui-panel">
       <img class="logo" src="{% static 'missionbit-logo.png' %}"/>
       <h1>You have been logged out</h1><hr>
      <form action="{% url 'social:begin' 'google-oauth2' %}">
        <button type="submit" class="loginBtn loginBtn--google mui-btn mui-btn--raised">Login with Google</button>
      </form><br>
      <form action="{% url 'login' %}">
        <button class="mui-btn mui-btn--raised">Login with Username</button>
      </form><br>
    </div>
  </div>

{% endblock content %}
