{% extends "home_base.html" %}
{% load static %}

{% block content %}

<div class="form-container">
  <div class="mui-panel">
    {% include "error.html" %}
    <img class="logo" src="{% static 'missionbit-logo.png' %}"/>
    <form class="mui-form" method="post">
      <legend>Register As Student or Volunteer</legend>
      {% csrf_token %}
      <div class="mui-radio">
        <label>
          <input type="radio" name="role" value="student" checked>Student</label>
      </div>
      <div class="mui-radio">
        <label><input type="radio" name="role" value="volunteer">Volunteer</label>
      </div>
      <button class="mui-btn mui-btn--primary" type="submit">Submit</button>
      <br>
    </form>
  </div>
</div>


{% endblock content %}
