{% extends "home/home.html" %}
{% load crispy_forms_tags %}

{% block content %}
   <div class="sidenav">
      <a href="{% url 'social:begin' 'google-oauth2' %}">Sign In With Google</a>
        <a href="{% url 'login' %}">Sign in with Username</a><br>
    </div>

  <div class = "main-container">
  {% if messages %}
    {% for message in messages %}
        <div class = "alert alert-{{message.tags}}">
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}

    <h3>Thank you for Registering As Mission Bit Donor</h3>
    <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <br>
    <button type="submit" class="btn btn-primary">Register</button> 
  </form>
  </div>
{% endblock content %}
