{% extends "home/home.html" %}

{% block content %}
	{% if messages %}
	{% for message in messages %}
		<div class = "alert alert-{{message.tags}}">
			{{ message }}
		</div>
	{% endfor %}
	{% endif %}
	
	<h4>Please Complete Registration</h4>
	<form method = "POST">
		{% csrf_token %}
		Choose Your Role:<br><br>
		<input type="radio" name="role" value="student" checked>Student<br>
  		<input type="radio" name="role" value="volunteer">Volunteer<br><br>
		<button class = "btn btn-outline-info" type="submit">Finish Registration</button>
	</form>
	
{% endblock content %}