{% extends "home/home.html" %}
{% load crispy_forms_tags %}

{% block content %}

  <div class="main-container">
  {% if messages %}
    {% for message in messages %}
        <div class = "alert alert-{{message.tags}}">
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}


    <form style="width: 40%; padding-left: 12%; padding-top: 3%" class="mui-form" method="post">
      <h3>Register As Mission Bit Volunteer</h3>
      {% csrf_token %}
      <div class="mui-textfield">
        Choose Username: {{ form.username }}
      </div>
      <div class="mui-textfield">
        First Name: {{ form.first_name }}
      </div>
      <div class="mui-textfield">
        Last Name: {{ form.last_name }}
      </div>
      <div class="mui-textfield">
        Password: {{ form.password1 }}
      </div>
      <div class="mui-textfield">
        Enter Same Password: {{ form.password1 }}
      </div>
      <button class="mui-btn" type="submit">Submit</button>
      <br>
      <br>
    </form>

  </div>

{% endblock content %}
