{% extends "home/home.html" %}
{% load static %}

{% block content %}

<div style="text-align: center;">
  <div style="width: 45%; display: inline-block" class="mui-panel">

      <div>
        {% if user_form.errors or contact_form.errors %}
          {% for field in user_form %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
                <p style="padding-top: 10px">{{ error|escape }}
                <span id="close" class="close"><img class="delete-icon" src="{% static "close.svg" %}"/></span>
                </p>
            </div>
            {% endfor %}
          {% endfor %}
          {% for field in contact_form %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
                <p style="padding-top: 10px">{{ error|escape }}
                <span id="close" class="close"><img class="delete-icon" src="{% static "close.svg" %}"/></span>
                </p>
            </div><br><br>
            {% endfor %}
          {% endfor %}
        {% endif %}
      </div>

    <form class="mui-form" method="post">
      <legend>Register As Mission Bit Student</legend>
      {% csrf_token %}
      <div class="mui-textfield">
        First Name: {{ user_form.first_name }}
      </div>
      <div class="mui-textfield">
        Last Name: {{ user_form.last_name }}
      </div>
      <div class="mui-textfield">
        Birthdate: {{ contact_form.birthdate }}
      </div>
      <div class="mui-textfield">
        Email: {{ user_form.email }}
      </div>
      <div class="mui-textfield">
        Choose Username: {{ user_form.username }}
      </div>
      <div class="mui-textfield">
        Password: {{ user_form.password1 }}
      </div>
      <div class="mui-textfield">
        Enter Same Password: {{ user_form.password2 }}
      </div>
      <div class="mui-select">
        <label>Race</label>
        {{ contact_form.race }}
        </div>
      <div class="mui-select">
        <label>Ethnicity</label>
        {{ contact_form.which_best_describes_your_ethnicity }}
      </div>
      <div class="mui-select">
        <label>Gender</label>
        {{ contact_form.gender }}
      </div>
      <div class="mui-select">
        <label>Expected Graduation Year</label>
        {{ contact_form.expected_graduation_year }}
      </div>
      <button class="mui-btn mui-btn--primary" type="submit">Submit</button>
      <br>
      <br>
    </form>
  </div>
</div>




{% endblock content %}
