{% extends "base.html" %}

{% block content %}

  <div class="table-container">
    <div class="mui-panel">
      {% include "error.html" %}
      {% include "message.html" %}
      {% if course %}
      <h1 style="padding-bottom: 30px"> Attendance for {{ course }} </h1>
        <table class="mui-table mui-table--bordered">
        <tr>
          <th style="text-align: center;">Date</th>
          <th style="text-align: center;">Daily Attendance</th>
          <th style="text-align: center;">Take Attendance</th>
          <th style="text-align: center;">Send Absent Notifications</th>
        </tr>
        {% for date in dates %}
        <tr>
          <td>{{ date }}</td>
          <td>{{ daily_attendance|get_item:date }}%</td>
          <td>
          <a href="{% url 'take_attendance' course_id=course_id date=date %}"
             class="mui-btn mui-btn--primary mui-btn--small">View/Take</a>
          </td>
          <td>
            <form action= "{% url 'notify_absent_students' %}" method="GET">
            {% csrf_token %}
            <input type="hidden" name="date" value="{{ date }}" />
            <input type="hidden" name="course_id" value={{ course_id }} />
            <input type="hidden" name="date_id" value={{ id }} />
            <button class="mui-btn mui-btn--primary mui-btn--small" type="submit">Send</button>
            </form>
          </td>
        </tr>
      {% endfor %}
      </table>
      {% elif attendance_objects %}
      <h1> {{ course_name }} {{ attendance_objects.first.date }} </h1>
      <form action= "{% url 'attendance' %}" method="POST">
      {% csrf_token %}
        <table class="mui-table mui-table--bordered">
        <tr>
          <th style="text-align: center;">Date</th>
          <th style="text-align: center;">Student</th>
          <th style="text-align: center;">Status</th>
          <th style="text-align: center;">Current Status</th>
        </tr>
        {% for attendance_object in attendance_objects %}
        <tr>
          <td>{{ attendance_object.date }}</td>
          <td>{{ attendance_object.student.first_name }} {{ attendance_object.student.last_name }}</td>
          <td>
            <div class="mui-select">
              <select name="{{ attendance_object.student.first_name }} {{ attendance_object.student.last_name }}">
                <option value="{{ attendance_object.presence }}">-----------</option>
                <option value="Present">Present</option>
                <option value="Absent">Absent</option>
                <option value="Late">Late</option>
                <option value="Excused">Excused</option>
              </select>
            </div>
          </td>
          <td>
            {{ attendance_object.presence }}
          </td>
        </tr>
        {% endfor %}
        </table>
        <input type="hidden" name="attendance_taken" value="true" />
        <input type="hidden" name="date" value="{{ attendance_objects.first.date }}" />
        <input type="hidden" name="course_id" value="{{ course_id }}" />
        <div style="padding-top: 20px">
          <button class="mui-btn mui-btn--primary mui-btn--small" type="submit"> Submit </button>
        </div>
      </form>
      {% else %}
        <h1 style="padding-left: 10px"> Attendance Home </h1>
        <table class="mui-table mui-table--bordered">
        <tr>
          <th style="text-align: center;">Course</th>
          <th style="text-align: center;">Overall Attendance</th>
          <th style="text-align: center;">View Attendance</th>
        </tr>
        {% for classroom in classrooms %}
        <tr>
          <td>{{ classroom.course }}</td>
          <td>{{ attendance_averages|get_item:classroom.course }}%</td>
          <td>
            <form method="GET">
              <button class="mui-btn mui-btn--primary mui-btn--small" type="submit" name="course_id" value="{{ classroom.id }}">View</button>
            </form>
          </td>
        </tr>
      {% endfor %}
      </table>
      {% endif %}
  </div>
</div>
{% if "staff" in user_groups and course %}
  <div class="initiate-action">
      <h1>Sync Data With Salesforce</h1><hr>
      <div class="mui-panel">
        <div class="initiate-action">
          <h3>Sync Attendance Data With Salesforce</h3><hr>
          <p>This will sync all classroom attendance data with the Salesforce Database.</p>
          <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="sync_data" value="True" />
            <button class="mui-btn mui-btn--raised mui-btn--accent" type="submit">Sync Data</button>
          </form>
        </div>
      </div>
  </div>
{% endif %}

{% endblock content %}




