{% extends "home_base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <div style="text-align: center">
      <div style="width: 45%; display: inline-block" class="mui-panel">
        <form class="mui-form" method = "POST">
          <h4>Please Log In</h4>
          {% csrf_token %}
          <div class="mui-textfield">
            Username: {{ form.username }}
          </div>
          <div class="mui-textfield">
            Password: {{ form.password }}
          </div>
          <button class="mui-btn mui-btn--raised mui-btn--primary" type="submit">Login</button>
        </form>
      </div>
    </div>

{% endblock content %}
