{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="form-container">
  <div class="mui-panel">

    {% include "error.html" %}

    <h1 style="padding-bottom: 20px"> Add Forum to Classroom - {{ classroom.course }} </h1>
        <form class="mui-form" method="post">
            {% csrf_token %}
            <div class="mui-textfield mui-textfield--float-label">
              {{ form.forum_title }}
              <label>Forum Title*</label>
            </div>
            <div class="mui-textfield mui-textfield--float-label">
              {{ form.forum }}
              <label>Forum* (starts with http or https)</label>
            </div>
        <br>
        <input type="hidden" name="classroom" value="{{ classroom.id }}" />
        <button type="submit" class="mui-btn mui-btn--primary mui-btn--small">Add Forum</button>
        </form>
    </div>
</div>

{% endblock content %}
