{% extends "staff_base.html" %}

{% block content %}

    {% include "message.html" %}

<div style="text-align: center;">
  <div style="display: inline-block; width: 70%;">
    {% if classrooms %}
      {% for classroom in classrooms %}
        <div style="text-align: center" class="mui-panel">
            <h3>{{ classroom }}</h3>
            <h6>{{ class_dicts|get_item:classroom.course|get_item:"teacher" }}</h6>
            <h6>{{ class_dicts|get_item:classroom.course|get_item:"teacher_assistant" }}</h6>
                <form action="{% url 'classroom_detail' %}" method="get">
                <input type="hidden" name="course_id" value="{{ classroom.id }}" />
                <button type="submit" class="mui-btn mui-btn--fab mui-btn--primary">Go</button>
            </form>
        </div><br>
      {% endfor %}
    {% endif %}
  </div>
</div>



{% endblock content %}

