{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

  <div class="notification-container">
    <div class="mui-panel">
      {% include "message.html" %}
      {% include "error.html" %}
      <h2>{{ classroom.course }}</h2><hr>
      <h4>{{ class_members|get_item:"teacher"}}</h4>
      <h4>{{ class_members|get_item:"teacher_assistant"}}</h4><hr>
      <form class="mui-form" action="{% url 'attendance' %}" method="GET">
        <input type="hidden" name="course_id" value="{{ classroom.id }}" />
        <p>Current Attendance: {{ classroom.attendance_summary.attendance_statistic }}%&ensp;&ensp;&ensp;
        <button type="submit" class="mui-btn mui-btn--primary mui-btn--small">Go</button></p>
      </form><hr>
      <form class="mui-form" action="{% url 'curriculum' %}" method="get">
        <p>Curriculum &ensp;&ensp;&ensp;
        <input type="hidden" name="classroom_id" value="{{ classroom.id }}" />
        <button class="mui-btn mui-btn--primary mui-btn--small" type="submit">Go</button></p>
      </form><hr>
      <form class="mui-form" action="{% url 'add_forum' %}" method="GET">
      {% if classroom.forum_title  %}
      <p>Current Forum: {{ classroom.forum_title }}&ensp;&ensp;&ensp;<button class="mui-btn mui-btn--primary mui-btn--small" type="submit">Change</button></p>
      {% else %}
        <p>No Forum&ensp;&ensp;&ensp;<button class="mui-btn mui-btn--primary mui-btn--small" type="submit">Add</button></p>
      {% endif %}
        <input type="hidden" name="classroom" value="{{ classroom.id }}" />
      </form>
    </div>
  </div>

  <div class="table-container">
    <div class="mui-panel">
     <table class="mui-table mui-table--bordered">
      <thead>
        <tr>
        <th style="text-align: center">Role</th>
        <th style="text-align: center">Class Member</th>
        <th style="text-align: center">Alter</th>
        <th style="text-align: center"></th>
      </tr>
      </thead>
      <tr>
        <form method="POST">
          {% csrf_token %}
          <td>Teacher</td>
          <td>{{ class_members|get_item:"teacher" }}</td>
          <td>
            <div class="mui-select">
              {{ change_teacher_form.teacher }}
            </div>
          </td>
          <td><button class="mui-btn mui-btn--primary mui-btn--small" type="submit">Submit</button> </td>
          <input type="hidden" name="swap_teacher" value="True"/>
          <input type="hidden" name="fmr_teacher"  value="{{ class_members|get_item:"teacher_id" }}" />
          <input type="hidden" name="course_id" value={{ classroom.id }} />
        </form>
      </tr>
      <tr>
        <form method="POST">
          {% csrf_token %}
          <td>Teacher Assistant</td>
          <td>{{ class_members|get_item:"teacher_assistant" }}</td>
          <td>
            <div class="mui-select">
              {{ change_teacher_form.teacher }}
            </div>
          </td>
          <td><button class="mui-btn mui-btn--primary mui-btn--small" type="submit">Submit</button> </td>
          <input type="hidden" name="swap_teacher_assistant" value="True"/>
          <input type="hidden" name="fmr_teacher_assistant"  value="{{ class_members|get_item:"teacher_assistant_id" }}" />
          <input type="hidden" name="course_id" value={{ classroom.id }} />
        </form>
      </tr>
      {% for volunteer in class_members|get_item:"volunteers" %}
      <tr>
        <form method="POST">
          {% csrf_token %}
          <td>Volunteer</td>
          <td>{{ volunteer }}</td>
          <td>Can't Swap Volunteer</td>
          <td><button class="mui-btn mui-btn--primary mui-btn--small" type="submit">Remove</button> </td>
          <input type="hidden" name="remove_volunteer" value="True"/>
          <input type="hidden" name="fmr_volunteer" value="{{ volunteer.id }}">
          <input type="hidden" name="course_id" value={{ classroom.id }} />
        </form>
      </tr>
      {% endfor %}
      {% for student in class_members|get_item:"students" %}
      <tr>
        <form method="POST">
          {% csrf_token %}
          <td>Student</td>
          <td>{{ student }}</td>
          <td>Can't Swap Student</td>
          <td><button class="mui-btn mui-btn--primary mui-btn--small" type="submit">Remove</button> </td>
          <input type="hidden" name="remove_student" value="True"/>
          <input type="hidden" name="fmr_student" value="{{ student.id }}">
          <input type="hidden" name="course_id" value={{ classroom.id }} />
        </form>
      </tr>
      {% endfor %}
    </table>
      <form method="post">
        {% csrf_token %}
        <div>
          {% csrf_token %}
          <div class="mui-select">
            {{ add_volunteer_form }}
          </div>
        <button class="mui-btn mui-btn--primary mui-btn--small" type="submit">Add Volunteer</button><hr>
        </div>
        <input type="hidden" name="add_volunteer" value="True"/>
        <input type="hidden" name="course_id" value={{ classroom.id }} />
      </form>
      <form method="post">
        <div>
          {% csrf_token %}
          <div class="mui-select">
            {{ add_student_form }}
          </div>
        <button class="mui-btn mui-btn--primary mui-btn--small" type="submit">Add Student</button>
        </div>
        <input type="hidden" name="add_student" value="True"/>
        <input type="hidden" name="course_id" value={{ classroom.id }} />
      </form>
    </div>
  </div><br><br><br><br><br><br><br>
  <div class="dangerous-action">
    <h1>Danger Zone</h1><hr>
    <div class="mui-panel">
      <div class="dangerous-action">
        <h3>Reset Course Data</h3><hr>
        <p>Only reset course data if absolutely necessary.
        This action cannot be undone easily.  If this course is ongoing,
         and already contains attendance and/or session data, please speak
        to a member of the Mission Bit developer team before taking action.</p>
        <form method="POST">
          {% csrf_token %}
          <input type="hidden" name="reset_classroom" value="True">
          <input type="hidden" name="classroom" value="{{ classroom.id }}" />
          <button class="mui-btn mui-btn--raised mui-btn--accent" type="submit">Reset Data</button>
        </form>
      </div>
    </div>
  </div>

{% endblock content %}
