{% extends "base.html" %}

{% block content %}


    <div class="main-container">
    <h1 style="padding-bottom: 20px; text-align: center"> Communication Manager </h1><hr>
    {% if announcements %}
      <div style="text-align: center;">
        <div style="width: 85%; display: inline-block" class="mui-panel">
          <h3>Announcements</h3><hr>
          <table class="mui-table mui-table--bordered">
            <tr>
              <th style="text-align: center;">Title</th>
              <th style="text-align: center;">Announcement</th>
              <th style="text-align: center;">Created By - Date</th>
              <th style="text-align: center;">Delete</th>
            </tr>
            {% for announcement in announcements %}
            <tr>
              <td><h5>{{ announcement.title }}</h5></td>
              <td><p>{{ announcement.announcement }}</p></td>
              <td><p>{{ announcement.created_by }} - {{ announcement.posted.date }}</p></td>
              <td>
                <form method="post">
                  {% csrf_token %}
                  <input type="hidden" name="delete_announcement" value="True" />
                  <input type="hidden" name="announcement_id" value="{{ announcement.id }}" />
                  <button class="mui-btn mui-btn--raised" type="submit">Delete</button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    {% endif %}
    {% if notifications %}
      <div style="text-align: center;">
        <div style="width: 85%; display: inline-block" class="mui-panel">
        <h3>Notifications</h3><hr>
        <table class="mui-table mui-table--bordered">
          <tr>
            <th style="text-align: center;">Subject</th>
            <th style="text-align: center;">Notification</th>
            <th style="text-align: center;">Notified User - Date</th>
            <th style="text-align: center;">Delete</th>
          </tr>
            {% for notification in notifications %}
          <tr>
            <td><h5>{{ notification.subject }}</h5></td>
            <td><p>{{ notification.notification }}</p></td>
            <td><p>{{ notification.user }} - {{ notification.notified.date }}</p></td>
            <td>
              <form method="post">
                {% csrf_token %}
                <input type="hidden" name="delete_notification" value="True">
                <input type="hidden" name="notification_id" value="{{ notification.id }}">
                <button class="mui-btn mui-btn--raised" type="submit">Delete</button>
              </form>
            </td>
          </tr>
        {% endfor %}
        </table>
      </div>
     </div>
      {% endif %}
      {% if forms %}
      <div style="text-align: center;">
        <div style="width: 85%; display: inline-block" class="mui-panel">
        <h3>Forms</h3><hr>
        <table class="mui-table mui-table--bordered">
          <tr>
            <th style="text-align: center;">Name</th>
            <th style="text-align: center;">Description</th>
            <th style="text-align: center;">Created By - Date</th>
            <th style="text-align: center;">Delete</th>
          </tr>
        {% for form in forms %}
          <tr>
            <td><h5>{{ form.name }}</h5></td>
            <td><p>{{ form.description }}</p></td>
            <td><p>{{ form.created_by }} - {{ form.posted.date }}</p></td>
            <td>
              <form method="post">
                {% csrf_token %}
                <input type="hidden" name="delete_form" value="True">
                <input type="hidden" name="form_id" value="{{ form.id }}">
                <button class="mui-btn mui-btn--raised" type="submit">Delete</button>
              </form>
            </td>
          </tr>
        {% endfor %}
        </table>
      </div>
     </div>
      {% endif %}
    </div>
{% endblock content %}
