{% extends "staff_base.html" %}
{% load crispy_forms_tags %}

{% block content %}

  <div style="padding-left: 10%">
    <div style="width: 70%" class="mui-panel">
        <form class="mui-form" method="post">
          <legend>Create Student User</legend>
            {% csrf_token %}
            <div class="mui-textfield mui-textfield--float-label">
            <label>First Name*</label>
            {{ form.first_name }}
            </div>
            <div class="mui-textfield mui-textfield--float-label">
            <label>Last Name*</label>
            {{ form.last_name }}
            </div>
            <div class="mui-textfield">
            <label>Email</label>
            {{ form.email }}
            </div>
            <div class="mui-textfield">
            <label>Birth date</label>
            {{ form.birthdate }}
            </div>
            <div class="mui-textfield">
            <label>Expected Graduation</label>
            {{ form.expected_graduation_year }}
            </div>
            <div class="mui-textfield">
            <label>Race</label>
            {{ form.race }}
            </div>
            <div class="mui-textfield">
            <label>Ethnicity</label>
            {{ form.which_best_describes_your_ethnicity }}
            </div>
            <div class="mui-textfield">
            <label>Gender</label>
            {{ form.gender }}
            </div>
            <div class="mui-textfield">
            <label>Title</label>
            {{ form.title }}
            </div>
            <div class="mui-textfield">
            <label>Account</label>
            {{ form.account }}
            </div>
            <div class="mui-textfield">
            <label>Owner</label>
            {{ form.owner }}
            </div>
        <button type="submit" class="mui-btn mui-btn--raised">Create User</button>
        </form>
    </div>
    </div>
{% endblock content %}
