{% extends "staff_base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="sidenav">
  <a href={% url 'staff' %}>Staff Home</a>
</div>

    <div class="main-container">
    <h1 style="padding-bottom: 20px"> Create e-sign form </h1>
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ form|crispy }}
        <br>
        <button type="submit" class="btn btn-primary">Create Esign</button>
        </form>
    </div>
{% endblock content %}
