{% extends "staff_base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="main-container">
        <form class="mui-form" style="width: 40%; padding-left: 10%" enctype="multipart/form-data" method="post">
          <legend>Create E-Sign Link</legend><br>
          {% csrf_token %}
          <div class="mui-textfield mui-textfield--float-label">
            {{ form.name }}
            <label>Name</label>
          </div>
          <div class="mui-textfield mui-textfield--float-label">
            {{ form.link }}
            <label>Link -- starts with http:// or https://</label>
          </div>
          <br>
        <button type="submit" class="mui-btn mui-btn--raised mui-btn--primary">Create Esign</button>
        </form>
    </div>
{% endblock content %}
