{% extends "base.html" %}

{% block content %}

  <div class="form-container">
    <div class="mui-panel">
      {% include "error.html" %}
        <form class="mui-form" method="post">
          {% csrf_token %}
          <legend>Create Class Offering</legend>
          <div class="mui-select">
            {{ form.course}}
            <label>Course*</label>
          </div>
          <div class="mui-textfield mui-textfield--float-label">
            {{ form.name}}
            <label>Name*</label>
          </div>
          <div class="mui-textfield mui-textfield--float-label">
            {{ form.description}}
            <label>Description*</label>
          </div>
          <div class="mui-select">
            <label>Instructor*</label>
            {{ form.instructor }}
          </div>
          <div class="mui-textfield">
            <label>Start Date*</label>
            {{ form.start_date }}
          </div>
          <div class="mui-textfield">
            <label>End Date*</label>
            {{ form.end_date }}
          </div>
          <div class="mui-select">
            <label>Location*</label>
            {{ form.location }}
          </div>
          <div class="mui-select">
            <label>Meeting Days*</label>
            {{ form.meeting_days }}
          </div>
          <div class="mui-select">
            <label>Created By*</label>
            {{ form.created_by }}
          </div>
          <br>
          <button type="submit" class="mui-btn mui-btn--primary">Create Class Offering</button>
        </form>
    </div>
  </div>

{% endblock content %}
