{% extends "staff_base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div style="text-align: center;">
  <div style="width: 85%; display: inline-block" class="mui-panel">
    <h1>{{ classroom.course }}'s Curriculum</h1><hr><br>
    {% if sessions %}
      <table class="mui-table mui-table--bordered">
        <tr>
          <th style="text-align: center;">Date</th>
          <th style="text-align: center;">Title</th>
          <th style="text-align: center;">Description</th>
          <th style="text-align: center;">Modify</th>
        </tr>
       {% for session in sessions %}
        <tr>
          <td>{{ session.date }}</td>
          <td>{{ session.title }}</td>
          <td>{{ session.description }}</td>
          <td><form action={% url 'modify_session' %} method="GET">
            {% csrf_token %}
            <input type="hidden" name="modify_session" value="True" />
            <input type="hidden" name="date" value="{{ session.date }}" />
            <input type="hidden" name="classroom" value="{{ session.classroom_id }}">
            <button class="mui-btn mui-btn--primary mui-btn--small" type="submit">View/Change Curriculum</button>
          </form></td>
        </tr>
      {% endfor %}
      </table>
    {% endif %}
  </div>
</div>

{% endblock content %}
