{% extends "base.html" %}

{% block content %}
<div style="text-align: center;">
  <div style="width: 85%; display: inline-block" class="mui-panel">

    <h1>{{ classroom.course }}'s Curriculum</h1><hr><br>
    {% if sessions %}
      <table class="mui-table mui-table--bordered">
        <tr>
          <th style="text-align: center;">Date</th>
          <th style="text-align: center;">Title</th>
          <th style="text-align: center;">Description</th>
          <th style="text-align: center;">Modify</th>
        </tr>
       {% for session in sessions %}
        <tr>
          <td>{{ session.date }}</td>
          <td>{{ session.title }}</td>
          <td>{{ session.description }}</td>
          <td><a href="{% url 'modify_session' date=session.date classroom=session.classroom_id %}"
                 class="mui-btn mui-btn--primary mui-btn--small">View/Change Curriculum</a>
          </td>
        </tr>
      {% endfor %}
      </table>
    {% endif %}
  </div>
</div>

{% endblock content %}
