{% extends "staff_base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="main-container">
    <h1 style="padding-bottom: 20px"> Form Overview </h1>
    <hr>
        {% if outstanding_form_dict %}
          {% for form_name, distributions in outstanding_form_dict.items %}
          <table class="mui-table mui-table--bordered">
            <h3 style="padding-left: 1%">{{ form_name }}</h3>
            <tr>
              <th>Form Name</th>
              <th>Distribution</th>
              <th>Submitted</th>
              <th>Mark Submitted</th>
              <th></th>
            </tr>
            {% for distribution in distributions %}
              <tr>
              <form method="POST">
                <td>{{ form_name }}</td>
                <td>{{ distribution.user.first_name }} {{ distribution.user.last_name }}</td>
                <td>{{ distribution.submitted }}</td>
                <td>
                  <div>
                    {% csrf_token %}
                    <small>{{ form|crispy }}</small>
                    <input type="hidden" name="form_name" value="{{ form_name }}" />
                    <input type="hidden" name="user_id" value="{{ distribution.user.id }}" />
                  </div>
                </td>
                <td><button class="mui-btn mui-btn--flat mui-btn--primary" type="submit">Submit</button></td>
                </form>
              </tr>
            {% endfor %}
          </table>
            <form action={% url 'notify_unsubmitted_users' %} method="GET">
              <input type="hidden" name="notify_unsubmitted_users" value="{{ form_name }}" />
              <br><td><button class="mui-btn mui-btn--flat mui-btn--primary" type="submit">Notify Unsubmitted Users</button></td>
            </form>
          {% endfor %}
      {% else %}
          <h3>No outstanding Forms</h3>
      {% endif %}

    </div>
{% endblock content %}
