{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
      {% include "message.html" %}
      {% include "error.html" %}

      <h1 style="text-align: center"> Form Overview </h1><br>
        {% if outstanding_form_dict %}
          {% for form_name, distributions in outstanding_form_dict.items %}
            <div class="table-container">
              <div class="mui-panel">
                <table class="mui-table mui-table--bordered">
                  <h3 style="padding-left: 1%">{{ form_name }}</h3>
                  <tr>
                    <th style="text-align: center">Form Name</th>
                    <th style="text-align: center">Distribution</th>
                    <th style="text-align: center">Submitted</th>
                    <th></th>
                  </tr>
                  {% for distribution in distributions %}
                    <tr>
                      <td>{{ form_name }}</td>
                      <td>{{ distribution.user.first_name }} {{ distribution.user.last_name }}</td>
                      <td>{{ distribution.submitted }}</td>
                      <td>
                        <form method="POST">
                          <div>
                            {% csrf_token %}
                            <small>Submitted: &ensp; {{ form.submitted }} &emsp;&emsp;</small>
                            <button class="mui-btn mui-btn mui-btn--primary" type="submit">Submit</button>
                            <input type="hidden" name="form_name" value="{{ form_name }}" />
                            <input type="hidden" name="user_id" value="{{ distribution.user.id }}" />
                          </div>
                          </form>
                        </td>
                      </tr>
                    {% endfor %}
                  </table>
                  <a href="{% url 'notify_unsubmitted_users' notify_about=form_name %}"
                     class="mui-btn mui-btn mui-btn--primary">Notify Unsubmitted Users</a>
                </div>
            </div>
          {% endfor %}
          {% else %}
          <h3>No outstanding Forms</h3>
      {% endif %}

{% endblock content %}
