{% extends "staff_base.html" %}

{% block content %}
    <div style="padding-left: 10%">
      <div style="width: 70%" class="mui-panel">
        <form class="mui-form" method="post">
          {% csrf_token %}
          <legend>Announcement</legend><br>
          <div class="mui-textfield">
            {{ form.title }}
            <label>Title</label>
          </div>
          <div class="mui-textfield">
            {{ form.announcement }}
            <label>Announcement</label>
          </div><br>
          <div class="mui-checkbox">
            <label>Recipient Groups</label>
            {{ form.recipient_groups }}
          </div><br>
          <div class="mui-checkbox">
            <label>Recipient Classrooms</label>
            {{ form.recipient_classrooms }}
          </div><br>
          <div class="mui-radio">
            <label>Email Recipients</label>
            {{ form.email_recipients }}
          </div><br>
          <div style="padding-left: 20px">
            <button type="submit" class="mui-btn mui-btn--raised">Submit</button>
          </div>
        </form>
      </div>
    </div>
{% endblock content %}
