{% extends "base.html" %}

{% block content %}
    <div class="form-container">
    <div class="mui-panel">
        {% include "error.html" %}
        <form class="mui-form" method="post">
          {% csrf_token %}
          <legend>Announcement</legend><br>
          <div class="mui-textfield">
            {{ form.title }}
            <label>Title</label>
          </div>
          <div class="mui-textfield">
            {{ form.announcement }}
            <label>Announcement</label>
          </div><br>
          <div style="text-align: center">
              <div style="display: inline-block">
                <div style="text-align: left" class="mui-checkbox">
                  <label>Recipient Groups</label>
                  {{ form.recipient_groups }}
                </div><br>
                <div style="text-align: left" class="mui-checkbox">
                  <label>Recipient Classrooms</label>
                  {{ form.recipient_classrooms }}
                </div><br>
                <div style="text-align: left" class="mui-radio">
                  <label>Email Recipients</label>
                  {{ form.email_recipients }}
                </div><br>
              </div>
            </div>
          <div>
            <button type="submit" class="mui-btn mui-btn--raised mui-btn--primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
{% endblock content %}
