{% extends "staff_base.html" %}

{% block content %}

<div style="text-align: center">
  <div style="width: 75%; display: inline-block" class="mui-panel">

    {% include "error.html" %}

    <h1>{{ classroom.course }} - {{ date }}</h1><hr>
    <form class="mui-form" enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      <table class="mui-table mui-table--bordered">
        <tr style="text-align: center">
          <th style="text-align: center">Field Name</th>
          <th style="text-align: center">Current Value</th>
          <th style="text-align: center">Modify</th>
          <th style="text-align: center">Change</th>
        </tr>
        <tr>
          <td>Session Title</td>
          <td>{{ session.title }}</td>
          <td>
              <div class="mui-textfield mui-textfield--float-label">
                {{ form.title}}
                <label>Title</label>
              </div>
          </td>
          <td><input type="checkbox" name="change_title" value="True" /></td>
        </tr>
        <tr>
          <td>Session Description</td>
          <td>{{ session.description }}</td>
          <td>
            <div class="mui-textfield mui-textfield--float-label">
                {{ form.description}}
                <label>Description</label>
            </div>
          </td>
          <td><input type="checkbox" name="change_description" value="True" /></td>
        </tr>
        <tr>
          <td>Lesson Plan</td>
          <td>{{ session.lesson_plan }}</td>
          <td>{{ form.lesson_plan }}</td>
          <td><input type="checkbox" name="change_lesson_plan" value="True" /></td>
        </tr>
        <tr>
          <td>Lecture</td>
          <td>{{ session.lecture }}</td>
          <td>{{ form.lecture }}</td>
          <td><input type="checkbox" name="change_lecture" value="True" /></td>
        </tr>
        <tr>
          <td>Activity</td>
          <td>{{ session.activity }}</td>
          <td>{{ form.activity }}</td>
          <td><input type="checkbox" name="change_activity" value="True" /></td>
        </tr>
        <tr>
          <td>Video</td>
          <td><a href="{{ session.video }}">{{ session.video }}</a></td>
          <td>
            <div class="mui-textfield mui-textfield--float-label">
                {{ form.video}}
             <label>Link -- Starts with http or https</label>
            </div>
          </td>
          <td><input type="checkbox" name="change_video" value="True" /></td>
        </tr>
      </table><br>
      <input type="hidden" name="session_id" value="{{ session.id }}"/>
      <button class="mui-btn mui-btn--primary mui-btn--raised">Submit</button>
    </form>
  </div>
</div>


{% endblock content %}
