{% extends "staff_base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div style="text-align: center;">
  <div style="width: 45%; display: inline-block" class="mui-panel">
        <form class="mui-form" method="post">
            <legend>Notify Users About "{{ notify_about }}"</legend><br>
            {% csrf_token %}
            <div class="mui-textfield mui-textfield--float-label">
              {{ form.subject }}
              <label>Subject</label>
            </div>
            <div class="mui-textfield mui-textfield--float-label">
              {{ form.notification }}
              <label>Notification</label>
            </div>
            <div style="text-align: center">
                <div style="display: inline-block">
                  <div style="text-align: left" class="mui-radio">
                    <label>Email Recipients</label>
                    {{ form.email_recipients }}
                  </div><br>
                </div>
            </div>
            <br>
          <button type="submit" class="mui-btn mui-btn--raised mui-btn--primary">Create Esign</button>
          </form>
  </div>
</div>

{% endblock content %}
