{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="form-container">
  <div class="mui-panel">
        {% include "error.html" %}
        <form class="mui-form" method="post">
            <legend>Notify Users About "{{ notify_about }}"</legend><br>
            {% csrf_token %}
            <div class="mui-textfield mui-textfield--float-label">
              {{ form.subject }}
              <label>Subject</label>
            </div>
            <div class="mui-textfield mui-textfield--float-label">
              {{ form.notification }}
              <label>Notification</label>
            </div>
            <div class="form-container">
                <div class="mui-panel">
                  <div class="mui-radio">
                    <label>Email Recipients &emsp;</label>
                    {{ form.email_recipients }}
                  </div><br>
                </div>
            </div>
            <br>
          <input type="hidden" name="notify_about" value="{{ notify_about }}" />
          <button type="submit" class="mui-btn mui-btn--raised mui-btn--primary">Send Notifications</button>
        </form>
  </div>
</div>

{% endblock content %}
