{% extends "staff_base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <div style="text-align: center;">
    <div style="width: 45%; display: inline-block" class="mui-panel">
        <form class="mui-form" enctype="multipart/form-data" method="post">
          <legend>Post Form</legend>
            {% csrf_token %}
            <div class="mui-textfield mui-textfield--float-label">
              {{ form.name }}
              <label>Form Title</label>
            </div>
            <div class="mui-textfield mui-textfield--float-label">
              {{ form.description }}
              <label>Description</label>
            </div>
            <div class="mui-textfield file-upload">
              <label>Form</label><br>
              {{ form.form }}
            </div>
            <div class="mui-textfield select2-dropdown">
              <label>E-Sign</label><br>
              {{ form.esign }}
            </div>
            <div style="text-align: center">
              <div style="display: inline-block">
                <div style="text-align: left" class="mui-checkbox">
                  <label>Recipient Groups</label>
                  {{ form.recipient_groups }}
                </div><br>
                <div style="text-align: left" class="mui-checkbox">
                  <label>Recipient Classrooms</label>
                  {{ form.recipient_classrooms }}
                </div><br>
                <div style="text-align: left" class="mui-radio">
                  <label>Email Recipients</label>
                  {{ form.email_recipients }}
                </div><br>
              </div>
            </div>
          <button type="submit" class="mui-btn mui-btn--raised mui-btn--primary">Post Form</button>
        </form>
    </div>
   </div>
{% endblock content %}
