{% extends "staff_base.html" %}

{% block content %}

{% if messages %}
{% for message in messages %}
  <div class = "alert alert-{{message.tags}}">
    {{ message }}
  </div>
{% endfor %}
{% endif %}

<h1 style="padding: 20px"> Staff User Home </h1>

<a style="padding: 20px" href="{% url 'user_management' %}">Manage Users</a><br><br>

<a style="padding: 20px" href="{% url 'classroom_management' %}">Classroom Management</a><br><br>

<a style="padding: 20px" href="{% url 'create_class_offering' %}">Create Class Offering</a><br><br>

{% endblock content %}
