{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Mission Bit</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Maven+Pro:400,500&display=swap" rel="stylesheet">
  <link rel="icon" href="https://github.com/Ernesto2004/MB_Portal_Design/blob/master/mblogo.png?raw=true"> <!-- LOGO ON THE TAB BAR -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <!-- INSTAFEED EXECUTION -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/instafeed.js/1.4.1/instafeed.min.js"></script>
  <script type="text/javascript">
    var galleryFeed = new Instafeed({
    get: "user",
    userId: "2052224602",
    accessToken: '2052224602.1677ed0.1292ba7a40024b4091eb308010d4ac7e',
    resolution: "standard_resolution",
    useHttp: "true",
    limit: 5,
    target: "instafeed",
    template: '<h4 class="slot-description">\{\{location\}\}</h4>' +
        '<a class="instafeedimg" href="\{\{image\}\}" target="_blank"><img src="\{\{image\}\}"></a>' +
        '<h4 class="slot-description">\{\{caption\}\}</h4><h4 class="slot-description"><img src="https://github.com/Ernesto2004/MB_Portal_Design/blob/master/heart-icon.png?raw=true" width="30" height="30" style="opacity: 0.75">\{\{likes\}\} ' +
        '<img src="https://github.com/Ernesto2004/MB_Portal_Design/blob/master/comment-icon.png?raw=true" style="opacity: 0.75" width="30" height="30">\{\{model.comments.count\}\}' +
        '</h4><hr style="width: 90%; height:2px;border:none;color:gray;background-color:gray; opacity: 0.3" />'
        // CHANGE TEMPLATE IF YOU WANT TO
  });
  galleryFeed.run();
</script>
<style>
  /* STYLE IMPORTING */
  {% include 'css/design.css' %}
</style>

</head>
<nav class="navbar navbar-default navbar-fixed-top">
  <div style="height: 80px; box-shadow: 5px 2px 5px rgb(200,200,200);" class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://github.com/MissionBit/">
        <img src="https://raw.githubusercontent.com/MissionBit/missionbit.github.io/master/images/missionbit-logo.png"
             height="55" width="205">
      </a>
    </div>
    <ul style="padding-top: 17px; font-family: 'Maven Pro', sans-serif; font-size: 18px" class="nav navbar-nav">
      <li><a href="{% url 'home-home' %}">{{ user.username }}</a></li>
      <li><i class="material-icons">supervised_user_circle</i><a href="{% url 'user_management' %}">Manage Users</a></li>
      <li><i class="material-icons">calendar_today</i><a href="{% url 'attendance' %}">Attendance</a></li>
      <li><i class="material-icons">face</i><a href="{% url 'classroom_management' %}">Classroom Management</a></li>
      <li><i class="material-icons">face</i><a href="{% url 'form_overview' %}">Form Overview</a></li>
    </ul>
    <a href="{% url 'home-logout' %}">
      <h5 class="logout">Logout</h5>
    </a>
  </div>
</nav>
<body>
<!-- LEFT PANEL SETTINGS -->
<div class="sidenav">
    <a href="{% url 'staff' %}" class="ripplebutton">Staff Home</a>
    <a href="{% url 'create_class_offering' %}" class="ripplebutton">Create Class Offering</a>
    <a href="{% url 'make_announcement' %}" class="ripplebutton">Make Announcement</a>
    <a href="{% url 'post_form' %}" class="ripplebutton">Post New Form</a>
    <a href="{% url 'create_esign' %}" class="ripplebutton">Create e-sign</a>
</div>
<!-- RIGHT PANEL SETTINGS -->
<div class="rsidenav">
  <h2 style="text-align: center; padding-bottom: 18px; font-family: 'Maven Pro', sans-serif; font-size: 35px; color: #474747;"><a href="https://www.instagram.com/missionbit/?hl=en" target="_blank"><img src="https://cdn3.iconfinder.com/data/icons/transparent-on-dark-grey/500/icon-04-512.png" width="45" height="45" style="opacity: 0.85;"></a> Instagram Feed</h2><hr style="width: 90%; height:2px;border:none;color:gray;background-color:gray; opacity: 0.2" />
  <div id="instafeed">
    <!-- INSTAFEED STUFF DOWN HERE !!!DO NOT CODE DOWN BELOW!!! -->
  </div>
</div>
{% block content %}

{% endblock %}
</body>
</html>
