{% extends "staff_base.html" %}

{% block content %}

{% if messages %}
{% for message in messages %}
  <div class = "alert alert-{{message.tags}}">
    {{ message }}
  </div>
{% endfor %}
{% endif %}


<div class="sidenav">
    <a href="{% url 'user_management' %}">Manage Users</a>

    <a href="{% url 'classroom_management' %}">Classroom Management</a>

    <a href="{% url 'create_class_offering' %}">Create Class Offering</a>

    <a href="{% url 'make_announcement' %}">Make Announcement</a>
</div>


<div class="main-container">
    <h1> Staff User Home Main Section </h1>
    <h3> Announcements </h3>
</div>




{% endblock content %}
