<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//cdn.muicss.com/mui-0.9.43/css/mui.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap" rel="stylesheet">
    <link rel="icon" href="https://github.com/Ernesto2004/MB_Portal_Design/blob/master/mblogo.png?raw=true"> <!-- LOGO ON THE TAB BAR -->
    <!-- MDL STUFF -->

    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <!-- -->
    <script src="//cdn.muicss.com/mui-0.9.43/js/mui.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>Mission Bit</title>
    <script type="text/javascript">
        jQuery(function($) {
          var $bodyEl = $('body'),
              $sidedrawerEl = $('#sidedrawer');


          function showSidedrawer() {
            // show overlay
            var options = {
              onclose: function() {
                $sidedrawerEl
                  .removeClass('active')
                  .appendTo(document.body);
              }
            };

            var $overlayEl = $(mui.overlay('on', options));

            // show element
            $sidedrawerEl.appendTo($overlayEl);
            setTimeout(function() {
              $sidedrawerEl.addClass('active');
            }, 20);
          }


          function hideSidedrawer() {
            $bodyEl.toggleClass('hide-sidedrawer');
          }


          $('.js-show-sidedrawer').on('click', showSidedrawer);
          $('.js-hide-sidedrawer').on('click', hideSidedrawer);
        });
    </script>
</head>
<style>
    /* STYLE IMPORTING */
  {% include 'css/mui_assets.css' %}
</style>
<body class="hide-sidedrawer">
    <header id="header" style="box-shadow: 0px 3px 35px 0px gray">
      <div class="mui-appbar mui--appbar-line-height">
        <div class="mui-container-fluid">
          <a class="sidedrawer-toggle mui--visible-xs-inline-block mui--visible-sm-inline-block js-show-sidedrawer">☰</a>
          <a class="sidedrawer-toggle mui--hidden-xs mui--hidden-sm js-hide-sidedrawer">☰</a>
          <td class="mui--appbar-height"><a class="appbarnav" href="{% url 'user_management' %}">Manage Users   </a></td>
          <td class="mui--appbar-height"><a class="appbarnav" href="{% url 'attendance' %}">Attendance </a></td>
          <td class="mui--appbar-height"><a class="appbarnav" href="{% url 'classroom_management' %}">Classroom Management</a></td>
          <td class="mui--appbar-height"><a class="appbarnav" href="{% url 'form_overview' %}">Form Overview</a></td>
        </div>
        <template
      </div>
    </header>
    <div id="content-wrapper">
      <div class="mui--appbar-height"></div>
      <div class="mui-container-fluid">
        <br>
        {% block content %}

        {% endblock %}
      </div>
    </div>
    <footer id="footer" style="background-color: #5c5c5c; text-align: center">
      <div class="mui-container-fluid">
        <!-- Links down below -->
        <br>
        <div style="text-align: center; vertical-align: text-bottom">
            <br>
            <br>
        </div>
      </div>
      <h4>© Copyright 2019</h4>
      <h5>bla-bla-bla</h5>
    </footer>


    <div id="sidedrawer" class="mui--no-user-select">
          <div id="sidedrawer-brand" class="mui--appbar-line-height">
          </div>
          <div class="mui-divider"></div>
            <br>
        <a href="{% url 'home-home' %}"><p style="text-align: center; font-size: 25px;">{{ user.username }}</p></a>
            <hr/>
            <div class="sidenav-content">
             <a href="{% url 'staff' %}">Home</a>
             <a href="{% url 'create_class_offering' %}">Create Class Offering</a>
             <a href="{% url 'make_announcement' %}">Make Announcement</a>
             <a href="{% url 'post_form' %}">Post New Form</a>
             <a href="{% url 'create_esign' %}">Create e-sign</a>
          </div>
    </div>
  </body>
</html>
