<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="//cdn.muicss.com/mui-0.9.43/css/mui.min.css" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="{% static  'css/mui_assets.css' %}"/>
    <link rel="icon" href="https://github.com/Ernesto2004/MB_Portal_Design/blob/master/mblogo.png?raw=true"> <!-- LOGO ON THE TAB BAR -->
    <!-- MDL STUFF -->
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <!-- -->
    <script src="//cdn.muicss.com/mui-0.9.43/js/mui.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Mission Bit</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/instafeed.js/1.4.1/instafeed.min.js"></script>
     <script type="text/javascript">
        var galleryFeed = new Instafeed({
        get: "user",
        userId: "2052224602",
        accessToken: '2052224602.1677ed0.1292ba7a40024b4091eb308010d4ac7e',
        resolution: "standard_resolution",
        useHttp: "true",
        limit: 5,
        target: "instafeed",
        template: '<h4 class="slot-description">\{\{location\}\}</h4>' +
            '<a class="instafeedimg" href="\{\{image\}\}" target="_blank"><img src="\{\{image\}\}"></a>' +
            '<h4 class="slot-description"></h4><h4 class="slot-description"><img src="https://github.com/Ernesto2004/MB_Portal_Design/blob/master/heart-icon.png?raw=true" width="30" height="30" style="opacity: 0.75">\{\{likes\}\} ' +
            '<img src="https://github.com/Ernesto2004/MB_Portal_Design/blob/master/comment-icon.png?raw=true" style="opacity: 0.75" width="30" height="30">\{\{model.comments.count\}\}' +
            '</h4><hr style="width: 90%; height:2px;border:none;color:gray;background-color:gray; opacity: 0.3" />'
            // CHANGE TEMPLATE IF YOU WANT TO
      });
      galleryFeed.run();
    </script>
    <script type="text/javascript">
        jQuery(function($) {
          var $bodyEl = $('body'),
              $sidedrawerEl = $('#sidedrawer');


          function showSidedrawer() {
            // show overlay
            var options = {
              onclose: function() {
                $sidedrawerEl
                  .removeClass('active')
                  .appendTo(document.body);
              }
            };

            var $overlayEl = $(mui.overlay('on', options));


            $sidedrawerEl.appendTo($overlayEl);
            setTimeout(function() {
              $sidedrawerEl.addClass('active');
            }, 20);
          }


          function hideSidedrawer() {
            $bodyEl.toggleClass('hide-sidedrawer');
          }


          $('.js-show-sidedrawer').on('click', showSidedrawer);
          $('.js-hide-sidedrawer').on('click', hideSidedrawer);
        });
    </script>
    <script>
    $(document).ready(function(){
      $(".intro").click(function(){
        if ($(this).hasClass("intro")){
            $(this).removeClass("intro").addClass("deintro");
        }else if($(this).hasClass("deintro")){
            $(this).removeClass("deintro").addClass("intro");
        }
      });
    });

    $(document).ready(function(){
      var $rightpanel = $('#mui-panel');
      $(".instafeedtrigger").click(function() {
        if ($rightpanel.hasClass('rightpanelbody-hidden')) {
            $rightpanel.removeClass('rightpanelbody-hidden').addClass('rightpanelbody-visible');
        } else if ($rightpanel.hasClass('rightpanelbody-visible')){
            $rightpanel.removeClass('rightpanelbody-visible').addClass('rightpanelbody-hidden');
        };
      });
    });
    </script>
</head>
<body class="hide-sidedrawer">
    <header id="header" style="box-shadow: 0px 3px 35px 0px gray">
      <div class="mui-appbar mui--appbar-line-height">
        <div class="mui-container-fluid">
          <a class="sidedrawer-toggle mui--visible-xs-inline-block mui--visible-sm-inline-block js-show-sidedrawer">☰</a>
          <a class="sidedrawer-toggle mui--hidden-xs mui--hidden-sm js-hide-sidedrawer">☰</a>
           <div style="float: right; cursor: pointer;" class="mui-dropdown mui-dropdown--left">
              <a class="mui--text-left" data-mui-toggle="dropdown">
                <i class="material-icons" style="color: white">more_vert</i>
                <span class="mui-caret--left"></span>
              </a>
              <ul class="mui-dropdown__menu">
                <li><a style="cursor: pointer;" class="instafeedtrigger">Instafeed</a></li>
                <li><a href="{% url 'home-logout' %}">Log out</a></li>
              </ul>
          </div>
        </div>
        </div>
      </div>
    </header>
    <div id="mui-panel" class="rightpanel rightpanelbody-hidden">
      <h2 style="text-align: center; padding-bottom: 10px; font-size: 35px; color: #474747;">Instagram Feed</h2><hr style="width: 90%; height:2px;border:none;color:gray;background-color:gray; opacity: 0.2" />
      <div id="instafeed">
        <!-- INSTAFEED STUFF DOWN HERE !!!DO NOT CODE DOWN BELOW!!! -->
      </div>
    </div>
    <div id="content-wrapper">
      <div class="mui--appbar-height"></div>
      <div class="mui-container-fluid">
        <br>
        {% block content %}

        {% endblock %}
      </div>
    </div>
    <footer id="footer" style="background-color: #5c5c5c; text-align: center">
      <div class="mui-container-fluid">
        <!-- Links down below -->
        <br>
        <div style="text-align: center; vertical-align: text-bottom">
            <br>
            <br>
        </div>
      </div>
      <h4>© Copyright 2019</h4>
    </footer>

    <div id="sidedrawer" class="mui--no-user-select">
          <div id="sidedrawer-brand" class="mui--appbar-line-height">
          </div>
          <div class="mui-divider"></div>
            <br>
            <img src="{% static 'missionbit-logo.png' %}" style="width: 80%; padding-left: 10%">
            <hr style="width: 90%;">
            <div class="sidenav-content">
             <section id="intro">
               <a class="mainslide" href="{% url 'home-home' %}">Home</a>
               <div>
                   <!-- Dropdown content here -->
                   <!--a href="link to redirect">Name Of Item</a> -->
               </div>
             </section>
             <section class="intro">
               <a class="mainslide" style="cursor: pointer">Courses</a>
               <div>
                   <!-- Dropdown content here -->
                   <hr style="width: 80%;">
                   <a href="{% url 'create_classroom' %}">Create Classroom</a>
                   <a href="{% url 'create_class_offering' %}">Create Class Offering</a>
                   <a href="{% url 'classroom_management' %}">Classroom Management</a>
                   <hr style="width: 80%;">
               </div>
             </section>
             <section class="intro">
               <a class="mainslide" style="cursor: pointer">Users</a>
               <div>
                   <!-- Dropdown content here -->
                   <hr style="width: 80%;">
                   <a href="{% url 'create_staff_user' %}">Create Staff User</a>
                   <a href="{% url 'create_student_user' %}">Create Student User</a>
                   <a href="{% url 'create_teacher_user' %}">Create Teacher User</a>
                   <a href="{% url 'create_volunteer_user' %}">Create Volunteer User</a>
                   <hr style="width: 80%;">
               </div>
             </section>
             <section class="intro">
               <a class="mainslide" style="cursor: pointer">Forms</a>
               <div>
                   <!-- Dropdown content here -->
                   <hr style="width: 80%;">
                   <a href="{% url 'form_overview' %}">Form Overview</a>
                   <a href="{% url 'post_form' %}">Post New Form</a>
                   <a href="{% url 'create_esign' %}">Create Esign</a>
                   <hr style="width: 80%;">
               </div>
             </section>
             <section class="intro">
                 <a class="mainslide" style="cursor: pointer">Communication</a>
                 <div style="">
                     <!-- Dropdown content here -->
                   <hr style="width: 80%;">
                   <a href="{% url 'make_announcement' %}">Create Announcement</a>
                   <a href="{% url 'communication_manager' %}">Communication Manager</a>
                   <hr style="width: 80%;">
               </div>
             </section>
             <section id="intro">
               <a class="mainslide" href="{% url 'attendance' %}">Attendance</a>
               <div>
               </div>
             </section>
          </div>
    </div>
  </body>
</html>
