{% extends "staff_base.html" %}

{% block content %}

 <div class="sidenav">
 <a href="{% url 'create_staff_user' %}">Create Staff User</a><br>
    <a href="{% url 'create_teacher_user' %}">Create Teacher User</a><br>
    <a href="{% url 'create_student_user' %}">Create Student User</a><br>
    <a href="{% url 'create_volunteer_user' %}">Create Volunteer User</a><br>
 </div>

 <div class="main-container">
    <h1> User Management Home </h1>

 {% if names %}
  {% for name in names %}
    <p>{{ name }}</p>
  {% endfor %}
 {% endif %}

 </div>


{% endblock content %}
