<div class="notification-container">
  <div class="mui-panel">
  <h3> Forms </h3><hr>
    {% for form in forms reversed %}
        <div class="form">
          <h2>{{ form.form.name }}</h2><hr>
          <p>{{ form.form.description }}</p><br>
          <p>{{ form.form.created_by }} on {{ form.form.posted.date }}</p><br><hr>
          {% if form.form.esign %}
            <p><a href="{{ form.form.esign.template }}">Esign Here</a></p><br>
          {% endif %}
          <p style="padding-bottom: 10px;">
            <a href="{{ form.form.form.url }}" class="mui-btn">Download Form</a>
          </p>
        </div><br>
    {% endfor %}
  </div>
</div>
