{% extends "base.html" %}

{% block content %}

<div class="table-container">
  <div class="mui-panel">
      <h1>{{ classroom.course }}</h1>
      <h4>My Attendance - {{ attendance_percentage }}%</h4>
      <table class="mui-table mui-table--bordered">
        <tr>
          <th style="text-align: center;">Date</th>
          <th style="text-align: center;">Status</th>
          <th style="text-align: center;">Session</th>
        </tr>
        {% for attendance_day in attendance %}
        <tr>
          <td>{{ attendance_day.date }}</td>
          <td>{{ attendance_day.presence }}</td>
          <td>{{ attendance_day.session.title }}</td>
        </tr>
        {% endfor %}
      </table>
  </div>
</div>
{% endblock content %}
