{% extends "base.html" %}

{% block content %}

<div class="table-container">
  <div class="mui-panel">
    <h1>{{ classroom.course }} - {{ session.date }}</h1><hr>
    {% if session %}
      <h3>{{ session.title }} </h3>
      <hr>
        <h3>Description</h3><br>
          <p>{{ session.description }}</p><hr>
        <h3>Activity</h3><br>
          {% if session.activity %}
            <a href="{{ session.activity.url }}" class="mui-btn mui-btn--primary mui-btn--small" target="_blank">Download Activity</a>
            <hr>
          {% else %}
          <p>No Activity Available</p><hr>
          {% endif %}
        <h3>Video</h3><br>
        {% if session.video %}
          <a href="{{ session.video }}">View Session Video</a><hr>
        {% else %}
         <p>No Video Available</p><hr>
        {% endif %}
        <h3>Resources</h3><hr>
        {% if resources %}
          {% for resource in resources %}
            <h5>{{ resource.title }}</h5>
            {% if resource.file %}
              <a href="{{ resource.file.url }}" class="mui-btn mui-btn--primary mui-btn--small" target="_blank">Download Resource</a>
              <hr>
            {% endif %}
            {% if resource.link %}
              <a href="{{ resource.link }}">Go To Resource</a><hr>
            {% endif %}
          {% endfor %}
        {% else %}
          <p>No Resources</p><hr>
        {% endif %}
    {% endif %}
  </div>
</div>
{% endblock content %}
