{% extends "staff_base.html" %}

{% block content %}


    {% if messages %}
    {% for message in messages %}
        <div style="color: darkgreen; width: 500px" class = "alert alert-{{message.tags}}">
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}

    {% if announcements %}
   <div style="padding-left: 10%">
    <div style="width: 60%" class="mui-panel">
      <h2> Announcements </h2><hr>
      {% for announcement in announcements reversed %}
            <div class="announcement">
            <h4>{{ announcement.announcement.title }}</h4><hr>
            <p>{{ announcement.announcement.announcement }}</p><hr>
            <p>{{ announcement.announcement.created_by }} on {{ announcement.announcement.posted.date }}</p><br>
            <form method="POST">
              {% csrf_token %}
              <input type="hidden" name="dismiss_announcement" value="true" />
              <input type="hidden" name="announcement" value="{{ announcement.announcement.id }}" />
              <button class="button">Dismiss</button><br><br>
            </form>
            </div><br>
      {% endfor %}
        </div>
  </div>
    {% endif %}
    {% if forms %}
       <div style="padding-left: 10%">
    <div style="width: 60%" class="mui-panel">
    <h2> Forms </h2><hr>
        {% for form in forms %}
            <div class="form">
              <h4>{{ form.form.name }}</h4><hr>
              <p>{{ form.form.created_by }} on {{ form.form.posted.date }}</p><br>
              <p>
                <a href="{{ form.form.url }}" class="btn btn-primary" target="_blank">Download Form</a>
              </p>
            </div><br>
        {% endfor %}
    </div>
    </div>
    {% endif %}
    {% if notifications %}
    <div style="padding-left: 10%">
    <div style="width: 60%" class="mui-panel">
       <h2> Notifications </h2><hr>
          {% for notification in notifications %}
              <div class="notification">
                <h4>{{ notification.subject }}</h4><hr>
                <p>{{ notification.notification }}</p><br>
                <p>Mission Bit on {{ notification.notified.date }}</p><br>
                <p>
                  <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="acknowledge_notification" value="true" />
                    <input type="hidden" name="notification" value="{{ notification.id }}" />
                    <button class="button">Dismiss</button><br><br>
                  </form>
                </p>
              </div><br>
          {% endfor %}
        </div>
       </div>
    {% endif %}
</div>

{% endblock content %}
