{% extends "home/home.html" %}

{% block content %}

<div class="sidenav">

</div>


<div class="main-container">
    {% if messages %}
    {% for message in messages %}
        <div style="color: darkgreen; width: 500px" class = "alert alert-{{message.tags}}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
    <h1> Student User Home </h1>
    <h3> Announcements </h3>

    {% if announcements %}
        {% for announcement in announcements %}
            <strong>Subject: {{ announcement.title }}</strong><br>
            Announcement: {{ announcement.announcement }}<br>
            Author: {{ announcement.created_by }} on {{ announcement.posted.date }}<br><br>
        {% endfor %}
    {% endif %}

    <h3> Forms </h3>
    {% if forms %}
        {% for form in forms %}
            <strong>Subject: {{ form.name }}</strong><br>
            Author: {{ form.created_by }} on {{ form.posted.date }}<br><br>
            URL: {{ form.form.url }}
            <form action="{% url 'download_form' %}" method="get">
              <input type="hidden" name="path" value="{{ form.form }}">
              <button>Download Form</button>
            </form>
        {% endfor %}
    {% endif %}

</div>

{% endblock content %}
